<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100">
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()" style="margin-right: 10pt;">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-raised-button (click)="agregarColonia()"><mat-icon>add</mat-icon></button>
                        </section>
                    </div>
                </div>
            </mat-card>
            <!--<mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom:10px;">
                    <div fxFlex>
                    </div>
                    &nbsp;
                    <button mat-raised-button  color="primary" ><mat-icon>add_circle</mat-icon> Agregar Colonia</button>
                                    
                </div>
            </mat-card>-->
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="Distrito">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Distrito </th>
                                <td mat-cell *matCellDef="let row">
                                    [ {{ row.localidad.municipio.distrito.clave_distrito}} ] {{ row.localidad.municipio.distrito.descripcion}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Municipio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>[ {{ row.localidad.clave_localidad}} ] {{ row.localidad.descripcion}}</b>
                                    <div style="font-size:9pt">[ {{ row.localidad.municipio.clave_municipio}} ] {{ row.localidad.municipio.descripcion}}</div>
                                </td>
                            </ng-container>

                            <!-- Name Column  -->
                            <ng-container matColumnDef="Colonia">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> Colonia </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> [{{ row.clave_colonia}}] {{ row.descripcion}}</td>
                            </ng-container>



                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="editaColonia(row)"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                        <button mat-menu-item (click)="eliminaColonia(row)"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadColoniaData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>