<h1 mat-dialog-title style="background-color: #008b8b; color: white; padding: 5pt 10pt; border-bottom: 3px solid #CFCFCF; margin: 0pt;">REGIONALIZACIÓN ({{ tipoMicroregion }} ) [ CLUES: ({{ unidadMedica.clues }}) {{unidadMedica.descripcion}} ]
</h1>
<!--<hr style="border: 1px solid #3f51b5;">-->
<div mat-dialog-content>

    <mat-tab-group [(selectedIndex)]="indexTab">
        <mat-tab label="LOCALIDADES REGIONALIZADAS" [disabled]="edicion">
            <section class="profile">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <section fxFlex="100" fxLayout="column" fxLayoutAlign="center">
                        <div class="data-loading-shade" *ngIf="isLoading">
                            <mat-spinner></mat-spinner>
                        </div>
                        <!--<div fxFlex fxLayout="row wrap">
                            <mat-form-field fxFill appearance="outline">
                                <mat-label>Buscar</mat-label>
                                <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                                <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                    <mat-icon>close</mat-icon>
                                </button>
            
                            </mat-form-field>
                        </div>
                        <div fxFlex="none" fxFlex.xs="100">
                            <div fxFlex></div>
                            <section class="search-button">
                                <button mat-raised-button color="accent" (click)="applyFilter()" style="margin-right: 10pt;">
                                    <mat-icon>search</mat-icon> Buscar
                                </button>
                            </section>
                        </div>-->
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex fxLayout="row wrap">
                                <mat-form-field fxFill appearance="outline">
                                    <mat-label>Buscar</mat-label>
                                    <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                                    <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                        <mat-icon>close</mat-icon>
                                    </button>

                                </mat-form-field>
                            </div>
                            <div fxFlex="none" fxFlex.xs="100">
                                <div fxFlex></div>
                                <section class="search-button">
                                    <button mat-raised-button color="accent" (click)="applyFilter()" style="margin-right: 10pt; padding: 5pt;">
                                        <mat-icon >search</mat-icon> 
                                    </button>
                                </section>
                            </div>
                        </div>

                        <mat-card fxFlex.xs="100%" fxFlex="90%">
                            <mat-divider [inset]="true"></mat-divider>

                            <div class="data-container ">
                                <div class="data-table-container">
                                    <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                                        <ng-container matColumnDef="localidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCALIDAD </th>
                                            <td mat-cell *matCellDef="let row">
                                                <b>{{ row.catalogo_localidad.clave_localidad }} - {{ row.catalogo_localidad.descripcion }}</b>
                                                <div style="font-size: 8pt;">{{ row.catalogo_localidad.municipio.clave_municipio }} {{ row.catalogo_localidad.municipio.descripcion }} </div>

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="camino">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO CAMINO </th>
                                            <td mat-cell *matCellDef="let row">
                                                {{ row.catalogo_tipo_camino.descripcion }}

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="poblacion_inegi">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> POBLACIÓN (INEGI)</th>
                                            <td mat-cell *matCellDef="let row">
                                                <div *ngIf="row.catalogo_localidad.poblacion_inegi[0]">
                                                    {{ row.catalogo_localidad.poblacion_inegi[0].cantidad }}
                                                    <div style="font-size: 8pt;">({{ row.catalogo_localidad.poblacion_inegi[0].anio }}) </div>
                                                </div>
                                                <div *ngIf="!row.catalogo_localidad.poblacion_inegi[0]">
                                                    SIN DATO
                                                </div>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="poblacion_real">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> POBLACIÓN (REAL) </th>
                                            <td mat-cell *matCellDef="let row">
                                                {{ row.catalogo_localidad.poblacion_real }}

                                            </td>
                                        </ng-container>


                                        <ng-container matColumnDef="distancia">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> DISTANCIA (KM) / TIEMPO (HR) </th>
                                            <td mat-cell *matCellDef="let row">
                                                {{ row.distancia }} / {{ row.tiempo }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="tipo">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                                            <td mat-cell *matCellDef="let row">
                                                {{ row.tipo_localidad_regionalizacion }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                                <mat-icon>more_vert</mat-icon>
                                            </th>
                                            <td mat-cell *matCellDef="let row; let i = index" style="text-align: center;">
                                                <button mat-button [matMenuTriggerFor]="menu" *ngIf="row.tipo_localidad_regionalizacion !='SEDE'">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="editar(row)"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                                    <button mat-menu-item (click)="eliminar(row)" *ngIf="permiso_guardar"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="noResultsFound">
                                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                                No se encontraron registros
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                                        <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                                    </table>
                                </div>
                                <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = cargarDatos($event)"></mat-paginator>
                            </div>
                        </mat-card>
                    </section>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="REGISTRO">
            <form [formGroup]="regionalizacionForm">
                <section fxFlex="100" fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
                        <div fxFlex="100" fxFlex.xs="100">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                                <mat-form-field fxFlex="33" fxFlex.xs="100" appearance="fill">
                                    <mat-label>MUNICIPIO</mat-label>
                                    <mat-select formControlName="municipio_id" required>
                                        <mat-option *ngFor="let item of catalogo['municipio']" [value]="item.id">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="regionalizacionForm.get('municipio_id').invalid && (regionalizacionForm.get('municipio_id').dirty || regionalizacionForm.get('municipio_id').touched)">
                                        <span *ngIf="regionalizacionForm.get('municipio_id').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="33" fxFlex.xs="100" appearance="fill">
                                    <mat-label>LOCALIDAD</mat-label>
                                    <input matInput placeholder="LOCALIDAD" [matAutocomplete]="localidadAutocomplete" formControlName='localidad_id'>
                                    <mat-autocomplete #localidadAutocomplete="matAutocomplete" [displayWith]="displayLocalidadFn" [panelWidth]="'auto'">
                                        <mat-option *ngIf="localidadIsLoading" class="is-loading">
                                            <mat-spinner diameter="25"></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!localidadIsLoading">
                                            <mat-option *ngFor="let item of filteredLocalidad" [value]="item">
                                                [{{item.clave_localidad }}] {{ item.descripcion }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="regionalizacionForm.get('localidad_id').invalid && (regionalizacionForm.get('localidad_id').dirty || regionalizacionForm.get('localidad_id').touched)">
                                        <span *ngIf="regionalizacionForm.get('localidad_id').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="33" fxFlex.xs="100" appearance="fill">
                                    <mat-label>TIPO LOCALIDAD</mat-label>
                                    <mat-select formControlName="tipo_localidad_regionalizacion" required>
                                        <mat-option *ngFor="let item of catalogo['tipoLocalidad']" [value]="item.id">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="regionalizacionForm.get('tipo_localidad_regionalizacion').invalid && (regionalizacionForm.get('tipo_localidad_regionalizacion').dirty || regionalizacionForm.get('tipo_localidad_regionalizacion').touched)">
                                        <span *ngIf="regionalizacionForm.get('tipo_localidad_regionalizacion').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
                        <div fxFlex="100" fxFlex.xs="100">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                                <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                                    <mat-label>TIPO CAMINO</mat-label>
                                    <mat-select formControlName="catalogo_tipo_camino_id" required>
                                        <mat-option *ngFor="let item of catalogo['camino']" [value]="item.id">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="regionalizacionForm.get('catalogo_tipo_camino_id').invalid && (regionalizacionForm.get('catalogo_tipo_camino_id').dirty || regionalizacionForm.get('catalogo_tipo_camino_id').touched)">
                                        <span *ngIf="regionalizacionForm.get('catalogo_tipo_camino_id').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                                    <mat-label>DISTANCIA (KM)</mat-label>
                                    <input matInput autocomplete="off" formControlName="distancia" placeholder="DISTANCIA">
                                    <mat-error *ngIf="regionalizacionForm.get('distancia').invalid && (regionalizacionForm.get('distancia').dirty || regionalizacionForm.get('distancia').touched)">
                                        <span *ngIf="regionalizacionForm.get('distancia').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                                    <mat-label>TIEMPO (HH:MM)</mat-label>
                                    <input matInput autocomplete="off" formControlName="tiempo" placeholder="TIEMPO">
                                    <mat-error *ngIf="regionalizacionForm.get('tiempo').invalid && (regionalizacionForm.get('tiempo').dirty || regionalizacionForm.get('tiempo').touched)">
                                        <span *ngIf="regionalizacionForm.get('tiempo').errors.required">Campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="3px">

                        <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                            <mat-label>POBLACIÓN REAL</mat-label>
                            <input matInput autocomplete="off" formControlName="poblacion_real" placeholder="POBLACIÓN REAL">
                            <mat-error *ngIf="regionalizacionForm.get('poblacion_real').invalid && (regionalizacionForm.get('poblacion_real').dirty || regionalizacionForm.get('poblacion_real').touched)">
                                <span *ngIf="regionalizacionForm.get('poblacion_real').errors.required">Campo obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                        
                        <!-- <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                            <mat-label>POBLACIÓN INEGI</mat-label>
                            <input matInput autocomplete="off" formControlName="poblacion_inegi" placeholder="POBLACIÓN INEGI">
                            <mat-error *ngIf="regionalizacionForm.get('poblacion_inegi').invalid && (regionalizacionForm.get('poblacion_inegi').dirty || regionalizacionForm.get('poblacion_inegi').touched)">
                                <span *ngIf="regionalizacionForm.get('poblacion_inegi').errors.required">Campo obligatorio</span>
                            </mat-error>
                        </mat-form-field> -->

                    </div>


                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
                        <div fxFlex="100" fxFlex.xs="100">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                                <button mat-raised-button (click)="accionGuardar(1)" color="success" *ngIf="permiso_guardar" [disabled]="!regionalizacionForm.valid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
                                <button mat-raised-button (click)="cancelar()" *ngIf="edicion" color="warn"><mat-icon>close</mat-icon> Cancelar</button>
                                <button mat-raised-button (click)="cerrar()" *ngIf="id_editar==0" color="warn"><mat-icon>close</mat-icon> Cerrar</button>
                            </div>
                        </div>
                    </div>

                </section>
            </form>
        </mat-tab>
        <mat-tab label="TRABAJADORES">

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <section fxFlex="100" fxLayout="column" fxLayoutAlign="center">
                            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSourceTrabajadores" class="data-table" matSort>
                            
                            <ng-container matColumnDef="rfc">

                                <th mat-header-cell *matHeaderCellDef mat-sort-header> RFC </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row?.regionalizaciones_personal?.rfc }}</b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre_completo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.catalogo_tipo_camino.descripcion }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> EDAD</th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.catalogo_tipo_camino.descripcion }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sexo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SEXO</th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.regionalizaciones_personal.edad }}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="ur">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UR</th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.regionalizaciones_personal.edad }}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumnsTrabajadores.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTrabajadores; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumnsTrabajadores;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSourceTrabajadores!=null && dataSourceTrabajadores.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = cargarDatos($event)"></mat-paginator>
                </div>
            </mat-card>
            </section>
        </div>

        </mat-tab>

        <mat-tab label="MAPA" [disabled]="edicion">
            <agm-map style="height: 600px;width: 100%;" [latitude]="lat" [longitude]="long" [zoom]="zoom" [disableDefaultUI]="false" [disableDoubleClickZoom]="true" [zoomControl]="false">

                <agm-marker [longitude]="longUnidad" [latitude]="latUnidad" [iconUrl]="$any(iconUnidad)">
                    <agm-info-window>
                        <strong>{{ unidadMedica.clues }} - {{ unidadMedica.descripcion }}</strong>
                        <br>
                        <strong>LOCALIDAD:  {{ localidadUnidad }}</strong>
                        <br>
                        <strong>Latitud: </strong> {{ unidadMedica.latitud }} <strong>Longitud: </strong> {{ unidadMedica.longitud }}

                    </agm-info-window>
                </agm-marker>
                <agm-polyline *ngFor="let unidad of localidadesRegionalizadas">
                    <agm-polyline-point [latitude]="latUnidad" [longitude]="longUnidad">
                    </agm-polyline-point>
                    <agm-polyline-point [longitude]="unidad.long" [latitude]="unidad.lat">
                    </agm-polyline-point>
                </agm-polyline>
                <agm-marker *ngFor="let item of localidades" [latitude]="item.catalogo_localidad.latitud" [longitude]="item.catalogo_localidad.longitud" [iconUrl]="$any(iconMap)">
                    <agm-info-window>
                        <strong>({{ item.clues }}) - {{ item.catalogo_clues.descripcion }}</strong>
                        <br>
                        <strong>LOCALIDAD: {{ item.catalogo_localidad.descripcion }}</strong>
                        <br>
                        <strong>Latitud: </strong> {{ item.catalogo_localidad.latitud }} <strong>Longitud: </strong> {{ item.catalogo_localidad.longitud }}
                        <br>
                        <strong>Distancia: </strong> {{ item.distancia }}
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </mat-tab>
    </mat-tab-group>
</div>