<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
    <h3>Cargando datos de la Unidad (Clues), Espere un momento...</h3>    
</div>



<div *ngIf="!isLoading">

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
        <h2 fxFlex><mat-icon>local_hospital</mat-icon> Información de la Unidad Medica (Clues): </h2>
    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex="15%" appearance="fill">
            <mat-label>Clave Clues: </mat-label>
            <input matInput value="{{dataClues.clues}}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex="75%" appearance="fill">
            <mat-label>Nombre: </mat-label>
            <input matInput value="{{ dataClues.descripcion }}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex="20%" appearance="fill">
            <mat-label>Número de Camas: </mat-label>
            <input matInput value="{{ dataClues.nucleos_camas }}" readonly>
        </mat-form-field>

    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Teléfono: </mat-label>
            <input matInput value="{{ dataClues.telefono }}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Fecha de Operación: </mat-label>
            <input matInput value="{{ dataClues.fecha_operacion }}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Inicio de Operación: </mat-label>
            <input matInput value="{{ dataClues.inicio_operacion }}" readonly>
        </mat-form-field>

    </div>


    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Localidad: </mat-label>
            <input matInput value="{{(dataClues.catalogo_localidad != null) ? dataClues.catalogo_localidad.descripcion :'SIN LOCALIDAD CAPTURADA'}}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Microrregión: </mat-label>
            <input matInput value="{{(dataClues.catalogo_microrregion != null) ? dataClues.catalogo_microrregion.descripcion :'SIN MICRORREGIÓN CAPTURADA'}}" readonly>
        </mat-form-field>

    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex="80%" appearance="fill">
            <mat-label>Dirección: </mat-label>
            <input matInput value="{{(dataClues.direccion != null) ? dataClues.direccion :'SIN DIRECCIÓN CAPTURADA'}}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex="20%" appearance="fill">
            <mat-label>C.P. </mat-label>
            <input matInput value="{{(dataClues.cp != null) ? dataClues.cp :'SIN CÓDIGO POSTAL CAPTURADA'}}" readonly>
        </mat-form-field>

    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Latitud: </mat-label>
            <input matInput value="{{ dataClues.latitud }}" readonly>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
            <mat-label>Longitud: </mat-label>
            <input matInput value="{{ dataClues.longitud }}" readonly>
        </mat-form-field>

    </div>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

        <agm-map
        *ngIf="!isLoading" 
        style="height: 300px;width: 100%;"
        [latitude]="lat"
        [longitude]="long"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [disableDoubleClickZoom]="true"
        [zoomControl]="false">

        <!--<agm-marker 
            [latitude]="lat"
            [longitude]="long"
            [iconUrl]="iconMap">
            <agm-info-window>
                <strong>({{ dataClues.clues }}) - {{ dataClues.descripcion }}</strong>
                <br>
                <a>{{ dataClues.direccion }}</a>
                <br>
                <strong>C.P.: </strong>  {{ dataClues.cp }}
                <br>
                <strong>Latitud: </strong>  {{ dataClues.latitud }} <strong>Longitud: </strong>  {{ dataClues.longitud }}
                <br>
                <strong>Teléfono: </strong>  {{ dataClues.telefono }}
            </agm-info-window>
        </agm-marker>-->

        <div *ngFor="let reg of dataClues.regionalizaciones">

            <agm-marker  [latitude]="reg.catalogo_localidad.latitud" [longitude]="reg.catalogo_localidad.longitud" >
                <agm-info-window>
                    <strong>Localidad: </strong> {{ reg.catalogo_localidad.descripcion }}
                    <br>
                </agm-info-window>
        
            </agm-marker>

        </div>

    </agm-map>

    <mat-list>
        <div mat-subheader>Regionalización</div>
        <mat-list-item *ngFor="let localidades of dataClues.regionalizaciones">
          <mat-icon mat-list-icon>share_location</mat-icon>
          <div mat-line>{{localidades.catalogo_localidad.descripcion}}</div>
          <div mat-line> {{localidades.catalogo_localidad.descripcion}} </div>
        </mat-list-item>
    </mat-list>

    </div>





    <mat-divider></mat-divider>

    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button (click)='onNoClick()' color="primary"> Aceptar</button>
    </div>

</div>