<section class="profile">
    <!--div fxFill-->
    <!--<mat-toolbar class="employee-status-bar" [class.mat-elevation-z2]="true" *ngIf="!esNuevoEmpleado">
        <mat-toolbar-row>
            <mat-icon fxHide.xs="true" aria-hidden="false" aria-label="Estatus Empleado">{{statusIcon}}</mat-icon>
            <span fxHide.xs="true">&nbsp; {{statusLabel}}&nbsp;</span>
            <span fxHide.xs="true" *ngIf="datos_empleado && datos_empleado.permuta_adscripcion_activa" matTooltip="{{datos_empleado.permuta_adscripcion_activa.clues_destino.nombre_unidad}}: {{datos_empleado.permuta_adscripcion_activa.cr_destino.descripcion}}">
                <small>[{{datos_empleado.permuta_adscripcion_activa.clues_destino.clues}}: {{datos_empleado.permuta_adscripcion_activa.cr_destino.cr}}]</small>
            </span>
            <span class="spacer"></span>
            <section *ngIf="miniPagination">
                <button mat-raised-button [disabled]="miniPagination.previous == 0" (click)="loadPrevious()"><mat-icon>navigate_before</mat-icon> <span fxHide.xs="true">Anterior</span></button>
                &nbsp;
                <span><small>{{miniPagination.current}}/{{miniPagination.total}}</small></span>
                &nbsp;
                <button mat-raised-button [disabled]="miniPagination.next == 0" (click)="loadNext()"><span fxHide.xs="true">Siguiente</span> <mat-icon>navigate_next</mat-icon></button>
            </section>
            <span fxShow.xs="true" fxHide="true"  class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>-->


    <section fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly start" style="padding-top:5px;">
        <section class="form-container" fxFlex="90" fxLayout="column" [formGroup]="cluesForm">
            <div class="edit-loading-shade" *ngIf="isLoading">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <mat-card fxFlex>
                <h1 mat-dialog-title>
                    <mat-icon>local_hospital</mat-icon>&nbsp;DATOS PRINCIPALES DE LA UNIDAD</h1>
                <mat-card-content>
                    <section class="edit-container">



                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="30" fxFlex.xs="100">

                                <input matInput formControlName="clues" placeholder="Clues" type="text">
                                <mat-error *ngIf="cluesForm.get('clues').invalid && (cluesForm.get('clues').dirty || cluesForm.get('clues').touched)">
                                    <span *ngIf="cluesForm.get('clues').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="70" fxFlex.xs="100">
                                <input matInput formControlName="descripcion" placeholder="Nombre Unidad" type="text">
                                <mat-error *ngIf="cluesForm.get('descripcion').invalid && (cluesForm.get('descripcion').dirty || cluesForm.get('descripcion').touched)">
                                    <span *ngIf="cluesForm.get('descripcion').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="70" fxFlex.xs="100">
                                <input matInput formControlName="direccion" placeholder="Dirección" type="text">
                                <mat-error *ngIf="cluesForm.get('direccion').invalid && (cluesForm.get('direccion').dirty || cluesForm.get('direccion').touched)">
                                    <span *ngIf="cluesForm.get('direccion').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="30" fxFlex.xs="100">
                                <input matInput formControlName="cp" placeholder="C.P." type="text">
                                <mat-error *ngIf="cluesForm.get('cp').invalid && (cluesForm.get('cp').dirty || cluesForm.get('cp').touched)">
                                    <span *ngIf="cluesForm.get('cp').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex fxFlex.xs="100" *ngIf="!catalogos['microrregiones']">
                                <mat-label>Microrregiones:</mat-label>
                                <mat-select formControlName="catalogo_microrregion_id" required>
                                    <mat-option *ngFor="let item of catalogos['microrregion']" [value]="item.id">
                                        {{item.descripcion_tipo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="33" fxFlex.xs="100">
                                <mat-label>MUNICIPIO </mat-label>
                                <mat-select formControlName="municipio_id" required>
                                    <mat-option *ngFor="let item of catalogos['municipio']" [value]="item.id">
                                        {{item.descripcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="cluesForm.get('municipio_id').invalid && (cluesForm.get('municipio_id').dirty || cluesForm.get('municipio_id').touched)">
                                    <span *ngIf="cluesForm.get('municipio_id').errors.required">Campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field fxFlex="20" fxFlex.xs="100">
                                <mat-label>Localidad (SEDE)</mat-label>
                                <input matInput placeholder="Localidad" [matAutocomplete]="localidadAutocomplete" formControlName='catalogo_localidad'>
                                <mat-autocomplete #localidadAutocomplete="matAutocomplete" [displayWith]="displayLocalidadFn" [panelWidth]="'auto'">
                                    <mat-option *ngIf="localidadIsLoading" class="is-loading">
                                        <mat-spinner diameter="25"></mat-spinner>
                                    </mat-option>
                                    <ng-container *ngIf="!localidadIsLoading">
                                        <mat-option *ngFor="let item of catalogos['localidades']" [value]="item">
                                            [{{item.id}}] {{ item.descripcion }}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <mat-hint *ngIf="cluesForm.get('catalogo_localidad').value"> [ {{cluesForm.get('catalogo_localidad').value.clave_localidad}} ] </mat-hint>
                                <!--<input type="hidden" formControlName='municipio_nacimiento_id'>-->
                                <mat-error *ngIf="cluesForm.get('catalogo_localidad').invalid && (cluesForm.get('catalogo_localidad').dirty || cluesForm.get('catalogo_localidad').touched)">
                                    <span *ngIf="cluesForm.get('catalogo_localidad').errors.required">Campo obligatorio</span>
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex="25" fxFlex.xs="100">
                                <input matInput formControlName="telefono" placeholder="Teléfono">
                                <mat-error *ngIf="cluesForm.get('telefono').invalid && (cluesForm.get('telefono').dirty || cluesForm.get('telefono').touched)">
                                    <span *ngIf="cluesForm.get('telefono').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="25" fxFlex.xs="100">
                                <input matInput formControlName="nucleos_camas" placeholder="N° Camas" type="number">
                                <mat-error *ngIf="cluesForm.get('nucleos_camas').invalid && (cluesForm.get('nucleos_camas').dirty || cluesForm.get('nucleos_camas').touched)">
                                    <span *ngIf="cluesForm.get('nucleos_camas').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="25">
                                <mat-label>Fecha de Inicio de Operación: </mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="inicio_operacion" placeholder="Fecha de Inicio de Operación" readonly="readonly">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex="25">
                                <mat-label>Fecha de Acreditación (Hasta): </mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="fecha_operacion" placeholder="Fecha de Acreditación" readonly="readonly">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>

                        </div>


                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex="50" fxFlex.xs="100">
                                <input matInput formControlName="latitud" placeholder="Latitud" type="text">
                                <mat-error *ngIf="cluesForm.get('latitud').invalid && (cluesForm.get('latitud').dirty || cluesForm.get('latitud').touched)">
                                    <span *ngIf="cluesForm.get('latitud').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50" fxFlex.xs="100">
                                <input matInput formControlName="longitud" placeholder="Longitud" type="text">
                                <mat-error *ngIf="cluesForm.get('longitud').invalid && (cluesForm.get('longitud').dirty || cluesForm.get('longitud').touched)">
                                    <span *ngIf="cluesForm.get('longitud').errors.required">El Campo es obligatorio</span>
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <br>
                        <!--<ng-container>
                            <button mat-raised-button (click)="showRegionesDialog();" color="primary"><mat-icon>add_circle_outline</mat-icon> Agregar Region</button>
                        </ng-container>
                        <br>
                        <br>-->
                        <!--<div formArrayName="regionalizaciones" *ngFor="let region of cluesForm.get('regionalizaciones')['controls']; let i = index">

                            <mat-card [formGroupName]="i">
                                <mat-card-title>Región {{ i+1 }}</mat-card-title>
                                <mat-card-subtitle>Datos de la Regionalización {{ i+1 }}</mat-card-subtitle>

                                <mat-card-content>

                                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                                        <mat-form-field fxFlex appearance="fill"  *ngIf="!catalogos['localidades']">
                                            <mat-label>Localidad:</mat-label>
                                            <input matInput formControlName="catalogo_localidad_id">
                                            <mat-hint>Escribe el nombre de la localidad</mat-hint>
                                        </mat-form-field>
                    
                                        <mat-form-field fxFlex *ngIf="catalogos['localidades']">
                                            <mat-label>Localidad:</mat-label>
                                            <input type="text" aria-label="catalogo_localidad_id" matInput formControlName="catalogo_localidad_id" [matAutocomplete]="localidadAutocomplete">
                                            <mat-autocomplete #localidadAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                                                <mat-option *ngFor="let item of filteredCatalogs['localidades'] | async" [value]="item">
                                                    {{item.descripcion}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-hint *ngIf="!cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_localidad_id.value">Selecciona una Localidad de la lista</mat-hint>
                                            <mat-hint align="end" *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_localidad_id.value">Localidad: [{{cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_localidad_id.value.descripcion}}]</mat-hint>
                                        </mat-form-field>


                                        <mat-form-field fxFlex appearance="fill"  *ngIf="!catalogos['tipos_caminos']">
                                            <mat-label>Tipo de Camino:</mat-label>
                                            <input matInput formControlName="catalogo_tipo_camino_id">
                                            <mat-hint>Escribe el nombre de la localidad</mat-hint>
                                        </mat-form-field>
                    
                                        <mat-form-field fxFlex *ngIf="catalogos['tipos_caminos']">
                                            <mat-label>Tipo de Camino:</mat-label>
                                            <input type="text" aria-label="catalogo_tipo_camino_id" matInput formControlName="catalogo_tipo_camino_id" [matAutocomplete]="tipoCaminoAutocomplete">
                                            <mat-autocomplete #tipoCaminoAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                                                <mat-option *ngFor="let item of filteredCatalogs['tipos_caminos'] | async" [value]="item">
                                                    {{item.descripcion}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-hint *ngIf="!cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_camino_id.value">Selecciona una Localidad de la lista</mat-hint>
                                            <mat-hint align="end" *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_camino_id.value">Descripción: [{{cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_camino_id.value.descripcion}}]</mat-hint>
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                                        <mat-form-field fxFlex fxFlex.xs="100" *ngIf="!catalogos['microrregiones']">
                                            <mat-label>Tipo de Microrregión:</mat-label>
                                            <input matInput formControlName="catalogo_tipo_regionalizacion_id">
                                            <mat-hint>Escribe el nombre de la Microrregión</mat-hint>
                                            <mat-error *ngIf="cluesForm.get('microrregiones').hasError('required')">Este campo es obligatorio</mat-error>
                                        </mat-form-field>
                    
                                        <mat-form-field fxFlex fxFlex.xs="100" *ngIf="catalogos['microrregiones']">
                                            <mat-label>Tipo de Microrregión:</mat-label>
                                            <input type="text" aria-label="microrregion_id" matInput formControlName="catalogo_tipo_regionalizacion_id" [matAutocomplete]="microAutocomplete" >
                                            <mat-autocomplete #microAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                                                <mat-option *ngFor="let item of filteredCatalogs['microrregiones'] | async" [value]="item">
                                                    {{item.descripcion}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-hint *ngIf="!cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_regionalizacion_id.value">Selecciona una Microregión de la lista</mat-hint>
                                            <mat-hint align="end" *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_regionalizacion_id.value">Clave: [{{cluesForm.controls['regionalizaciones']['controls'][i]['controls'].catalogo_tipo_regionalizacion_id.value.descripcion_tipo}}]</mat-hint>
                                        </mat-form-field>


                                        <mat-form-field fxFlex>
                                            <mat-label>Tiempo:</mat-label>
                                            <input matInput formControlName="tiempo" placeholder="Tiempo" type="number">
                                            <mat-error *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].tiempo.invalid && (cluesForm.controls['regionalizaciones']['controls'][i]['controls'].tiempo.dirty || cluesForm.controls['regionalizaciones']['controls'][i]['controls'].tiempo.touched)">
                                                <span *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].tiempo.errors.required">El Campo es obligatorio</span>
                                            </mat-error>
                                        </mat-form-field>
    
                                        <mat-form-field fxFlex>
                                            <mat-label>Distancia:</mat-label>
                                            <input matInput formControlName="distancia" placeholder="Distancia" type="number">
                                            <mat-error *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].distancia.invalid && (cluesForm.controls['regionalizaciones']['controls'][i]['controls'].distancia.dirty || cluesForm.controls['regionalizaciones']['controls'][i]['controls'].distancia.touched)">
                                                <span *ngIf="cluesForm.controls['regionalizaciones']['controls'][i]['controls'].distancia.errors.required">El Campo es obligatorio</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                            <br>
                        </div>-->



                        <!-- <agm-map style="height: 600px;width: 100%;" [latitude]="lat" [longitude]="long" [disableDoubleClickZoom]="true" [zoom]="15">
                            <agm-kml-layer> </agm-kml-layer>
                        </agm-map> -->




                        <!-- <div fxLayout="row" fxLayout.xs="column">
                            <mat-form-field fxFlex="100" fxFlex.xs="100">
                                <input matInput placeholder="Responsable" [matAutocomplete]="responsableAutocomplete" formControlName='responsable' required>
                                <mat-autocomplete #responsableAutocomplete="matAutocomplete" [displayWith]="displayResponsableFn" [panelWidth]="'auto'">
                                    <mat-option *ngIf="responsableIsLoading" class="is-loading"><mat-spinner diameter="25"></mat-spinner></mat-option>
                                    <ng-container *ngIf="!responsableIsLoading">
                                        <mat-option *ngFor="let item of filteredResponsable" [value]="item">
                                            [{{item.rfc}}] {{item.nombre}} 
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <input type="hidden" formControlName='responsable_id'>
                                <mat-hint align="start" *ngIf="(cluesForm.get('responsable').value && cluesForm.get('responsable').value.grupo_funcion)">[{{cluesForm.get('responsable').value.grupo_funcion.grupo}}]</mat-hint>
                                <mat-hint align="end" *ngIf="cluesForm.get('responsable').value">[{{cluesForm.get('responsable_id').value.responsable_id}}]</mat-hint>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" fxFlex.xs="100">
                                <input matInput formControlName="cargo_responsable" placeholder="Cargo Responsable" type="text">
                                <mat-error *ngIf="cluesForm.get('cargo_responsable').invalid && (cluesForm.get('cargo_responsable').dirty || cluesForm.get('cargo_responsable').touched)">
                                    <span *ngIf="cluesForm.get('cargo_responsable').errors.required">El Nombre es obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            </div> -->
                    </section>
                </mat-card-content>
                <mat-card-actions fxHide.xs="true" fxLayout.xs="column">
                    <span fxFlex></span>
                    <button mat-raised-button routerLink="/catalogos/clues">Volver a la lista</button>
                    <ng-container *ngIf="puedeGuardar">
                        <button mat-raised-button (click)="accionGuardar()" color="success" [disabled]="!cluesForm.valid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </section>
    </section>

</section>