<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint>
                                <mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100">
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" class="busqueda" (click)="applyFilter()" *ngIf="panel">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-raised-button (click)="agregar()">
                                <mat-icon>
                                    add
                                </mat-icon>
                            </button>
                        </section>
                    </div>
                </div>
            </mat-card>
            <mat-accordion class="advanced-filter-container">
                <mat-expansion-panel #advancedFilter class="advanced-filter" [formGroup]="filterForm">
                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

                        <mat-form-field fxFlex="20">
                            <mat-label>MUNICIPIO</mat-label>
                            <mat-select formControlName="municipio">
                                <mat-option>Sin Filtro</mat-option>
                                <mat-option *ngFor="let item of filterCatalogs['municipio']" [value]="item.id">
                                    {{item.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20">
                            <mat-label>TIPO</mat-label>
                            <mat-select formControlName="tipo">
                                <mat-option>TODOS</mat-option>
                                <mat-option [value]="1">SEDES</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20">
                            <mat-label>REGIONALIZADO</mat-label>
                            <mat-select formControlName="regionalizado">
                                <mat-option>TODOS</mat-option>
                                <mat-option [value]="1">SI</mat-option>
                                <mat-option [value]="2">NO</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20">
                            <mat-label>ORDEN</mat-label>
                            <mat-select formControlName="orden">
                                <mat-option>NINGUNO</mat-option>
                                <mat-option [value]="1">ALFABETICO</mat-option>
                                <mat-option [value]="2">CLAVE LOCALIDAD</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex></div>
                        <div fxFlex="none">
                            <button mat-flat-button (click)="filterForm.reset()">
                                Limpiar
                            </button>
                        </div>
                        <div fxFlex="none">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Aplicar
                            </button>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="distrito">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DISTRITO/MUNICIPIO </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>[ {{ row.municipio.clave_municipio }}] {{ row.municipio.descripcion }} </b>
                                    <div style="font-size: 8pt;">[ {{ row.municipio.distrito.clave_distrito }} ] {{ row.municipio.distrito.descripcion }}</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="localidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCALIDAD </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>[ {{ row.clave_localidad }} ] {{ row.descripcion }}</b>
                                    <div style="font-size: 8pt;">[ {{ row.municipio.clave_municipio }} ] {{ row.municipio.descripcion }} </div>
                                </td>
                            </ng-container>

                            <!-- Username Column  -->
                            <!--<ng-container matColumnDef="municipio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> MUNICIPIO </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.municipio.descripcion }}
                                    <div style="font-size: 8pt;"> {{ row.municipio.clave_municipio }}</div>
                                </td>
                            </ng-container>-->
                            <ng-container matColumnDef="sede">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SEDE </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.clues.length > 0">
                                        <!--<button mat-raised-button *ngIf="row.clues.length > 1" style="background-color: rgba(0,0,250,0.3);" (click)="verUnidades(row, 1)">...</button>
                                        <button mat-raised-button *ngIf="row.clues.length == 1" style="background-color: rgba(250,0,0,0.3);">...</button>-->
                                        <div style="font-weight: bold; display: contents; color: purple; cursor: pointer;" (click)="verUnidades(row, 1);" *ngIf="row.clues.length > 1"> [ {{ row.clues[0].clues }} ] {{ row.clues[0].descripcion }}</div>
                                        <div style="font-weight: bold; display: contents;" *ngIf="row.clues.length == 1"> [ {{ row.clues[0].clues }} ] {{ row.clues[0].descripcion }}</div>
                                        <!--<div  *ngIf="row.clues.length == 1" style="font-size: 9pt;">UNICO</div>-->

                                    </div>
                                    <div *ngIf="row.clues.length == 0">No asignado</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="poblacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> POBLACIÓN </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.poblacion_inegi.length > 0">
                                        {{ row.poblacion_inegi[0].cantidad }}
                                        <div style="font-size: 8pt;">({{ row.poblacion_inegi[0].anio }}) </div>
                                    </div>
                                    <div *ngIf="row.poblacion_inegi.length == 0">
                                        SIN DATO
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="regionalizacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> REGIONALIZACIÓN </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.regionalizacion.length > 0">
                                        <!--<button mat-raised-button *ngIf="row.regionalizacion.length > 1" style="background-color: rgba(0,0,250,0.3);" (click)="verUnidades(row, 2)">...</button>
                                        <button mat-raised-button *ngIf="row.regionalizacion.length == 1" style="background-color: rgba(250,0,0,0.3);">...</button>-->
                                        <div style="font-weight: bold; display: contents; color: purple; cursor: pointer;" *ngIf="row.regionalizacion.length > 1" (click)="verUnidades(row, 2)"> [ {{ row.regionalizacion[0].clues }} ] {{ row.regionalizacion[0].catalogo_clues.descripcion }}</div>
                                        <div style="font-weight: bold; display: contents;" *ngIf="row.regionalizacion.length == 1"> [ {{ row.regionalizacion[0].clues }} ] {{ row.regionalizacion[0].catalogo_clues.descripcion }}</div>
                                    </div>
                                    <div *ngIf="row.regionalizacion.length == 0">No asignado</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                    <mat-icon>more_vert</mat-icon>
                                </th>
                                <td mat-cell *matCellDef="let row; let i = index" style="text-align: center;">
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="editar(row)"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                        <button mat-menu-item (click)="eliminar(row)" *ngIf="permisoModificar"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[14, 28]" showFirstLastButtons (page)="pageEvent = loadData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>