<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100">
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()" style="margin-right: 10pt;">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                            <!--<button mat-raised-button  color="primary" (click)="agregar()"><mat-icon>add_circle</mat-icon> Agregar Trabajador</button>-->
                        </section>
                    </div>
                </div>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="clues">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CLUES </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row.descripcion }}</b>
                                    <div style="font-size: 8pt;"> {{ row.clues }}</div>
                                </td>
                            </ng-container>

                            <!-- Username Column  -->
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO MICROREGION </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.microregion != null">
                                        <b>{{ row.microregion}}</b>
                                        <div style="font-size: 8pt;">{{ row.categoria}}</div>
                                    </div>
                                    <div *ngIf="row.microregion == null">
                                        SIN TIPOLOGIA
                                    </div>



                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sede">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> SEDE </th>
                                <td mat-cell *matCellDef="let row">
                                    <div *ngIf="row.clave_localidad != null">
                                        <b>[{{ row.clave_localidad}}] {{ row.localidad}}</b>
                                        <div style="font-size: 8pt;">[{{ row.clave_municipio}}] {{ row.municipio }}</div>
                                    </div>
                                    <div *ngIf="row.clave_localidad == null">
                                        SIN SEDE
                                    </div>
                                </td>
                            </ng-container>
                            <!-- Username Column  -->
                            <ng-container matColumnDef="localidades">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. LOCALIDADES </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.cantidad_localidades }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="regionalizacion(row)"><mat-icon color="primary">edit</mat-icon>Regionalización</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>