<section class="profile">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>

                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100">
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()" style="margin-right: 10pt;">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-raised-button (click)="agregar()"><mat-icon>add</mat-icon></button>
                        </section>
                    </div>
                </div>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container ">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="trabajador">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> TRABAJADOR </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row.apellido_paterno }} {{ row.apellido_materno}} {{ row.nombre }} </b>
                                    <div style="font-size: 8pt;">{{ row.rfc }}</div>
                                </td>
                            </ng-container>

                            <!-- Username Column  -->
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO TRABAJADOR </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row.tipo_trabajador }}</b>
                                    <div style="font-size: 8pt;">{{ row.abreviatura }}</div>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="localidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> LOCALIDAD </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>[{{ row.clave_localidad }}] {{ row.localidad }} </b>
                                    <div style="font-size: 8pt;">[{{row.clave_municipio}}] {{ row.municipio }}</div>

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="unidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIDAD RESPONSABLE </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{ row.nombre_unidad }} </b>
                                    <div style="font-size: 8pt;">{{row.clues}}</div>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button mat-mini-fab color="primary" mat-stroked-button [matMenuTriggerFor]="menu">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="editar(row)"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                        <button mat-menu-item (click)="eliminar(row)"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>